:root{
    --bg:#030000;
--bg: linear-gradient(10deg,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 12%, rgb(3, 44, 20) 60%, rgba(5, 15, 31, 1) 92%, rgb(6, 30, 36) 200%);
    --panel:#122033;
    --accent:#2a506a;
    --text:#e6eef8;
  }
  *{
    box-sizing:border-box
}
  body{
    margin:0;
    font-family:Inter, Roboto, system-ui, -apple-system; 
    background:var(--bg); 
    color:var(--text); 
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh
}
  .wrap{
    width:760px;
    padding:18px
}
  h1{
    margin-left: 55px;
    font-size:20px
}
  .hud{
    display:inline-flex;
    margin-left: 50px;
    gap:7px;
    align-items:center;
    margin-bottom:12px
}
  .panel{
    display: flex;
    background:rgba(255,255,255,0.03);
    padding:8px 12px;
    border-radius:8px;
    min-width:90px;
    
    text-align:center
}
  .controls{
    margin-left:auto;
    display:flex;
    gap:6px
}
  button{
    display: inline-block;
    padding:8px 10px;
    border-radius:0 5px 0 5px;
    border:0;
    background:var(--accent);
    color:white;
    cursor:pointer
}
  .game-area{
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items:center
}
  canvas{
    background:#071029;
    border:8px solid var(--accent);
    border-radius:6px
}
  .msg{
    padding:10px;
    border-radius:8px;
    background:rgba(255,255,255,0.02);
    width:600px;
    text-align:center
}
  .hint{
    margin-left: 60px;
    margin-top:12px;
    font-size:13px;
    opacity:0.9;
    color:red;
    box-shadow:30px 10px 0px solid #290707;
}
  
  @media (max-width:820px){
    .wrap{width:95vw}canvas{width:95vw;height:95vw}
}
  